html {
    background: #080047;
    background-image: radial-gradient(50% 30% ellipse at center top, #080047 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #050c44 0%, #050c44 100%);
    background-attachment: fixed;
    color: #bbd624;
}

body {
    color: #bbd624;
    font: 300 18px/1.6 "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
}

h1 {
    font-weight: 400;
    margin: 0;
}

button {
    border: 0;
    background: rgba(42, 50, 113, .28);
    color: #bbd624;
    cursor: pointer;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;


}
